@model WeatherAPIApp.ViewModels.FiveDaysWeatherForecastVM

<style>
    .ForecastTableDark {
        background-color: lightgray;
    }

    .ForecastTableLight {
        background-color: white;
    }
</style>

@{ 
    bool index = false;
    int day = 0;
}


@foreach (var item in Model.GetInfoList) //remember to do same on Currentweather
{

    //Model.Iterator(i);
    index = Model.TimeOfDataForecasted(item).AsDateTime().Day == day;
    if (index)
    {

        <div class="row">
            @Model.TimeOfDataForecasted(item).AsDateTime().DayOfWeek;
        </div>
    }
    day = Model.TimeOfDataForecasted(item).AsDateTime().Day;

    <div class="row table-bordered @if (index) { <text>ForecastTableDark</text> } else { <text>ForecastTableLight</text> } " id="ForecastTable" style="margin:.1vw">

        <div class="col-md-6">

            <p>@Html.Raw(Model.Weather(item))</p>
            <p>@Html.Raw(Model.Temp(item))</p>
            <p>@Html.Raw(Model.TimeOfDataForecasted(item))</p>

        </div>

        <div class="col-md-6">

            <p>@Html.Raw(@Model.Wind(item))</p>
            <p>@Html.Raw(@Model.Precipitation(item))</p>

        </div>

    </div>
    
}