@model WeatherAPIApp.ViewModels.FiveDaysWeatherForecastVM

@*
Done slightly different than Current weather as we are handling multiple forecasts.
We loop through the array of forecasts and create divs for each. Also announces if the day has changed
*@

@{
    bool isNewDay = false;
    int Currentday = Model.TimeOfDataForecasted(Model.GetInfoList.First()).AsDateTime().Day;


    foreach (var item in Model.GetInfoList)
    {
        isNewDay = !(Model.TimeOfDataForecasted(item).AsDateTime().Day == Currentday);

        Currentday = Model.TimeOfDataForecasted(item).AsDateTime().Day;

        <div class="row table-bordered" style="margin:.1vw">

            <div class="row" style="margin: .1vw; font-size: large">
                @{
                    if (item == Model.GetInfoList.First())
                    {
                        @Model.TimeOfDataForecasted(item).AsDateTime().DayOfWeek
                        <text> - </text>
                    }
                    if (isNewDay)
                    {
                        @Model.TimeOfDataForecasted(item).AsDateTime().DayOfWeek.ToString()
                        <text> - </text>
                    }

                    @Html.Raw(Model.TimeOfDataForecasted(item).AsDateTime().TimeOfDay.ToString().Substring(0,5))
                }
            </div>

            <div class="col-md-6">

                <p>@Html.Raw(Model.Weather(item))</p>
               
            </div>

            <div class="col-md-6">

                <p>@Html.Raw(Model.Temp(item))</p>
                <p>@Html.Raw(@Model.Wind(item))</p>
                <p>@Html.Raw(@Model.Precipitation(item))</p>

            </div>

        </div>

        }
}